<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="22680302" android:versionName="8.0.3" android:installLocation="auto" package="com.rovio.angrybirds">
    <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="26"/>
    <permission android:name="com.rovio.angrybirds.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.rovio.angrybirds.permission.C2D_MESSAGE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.REGISTRATION"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-feature android:glEsVersion="0x20000" android:required="true"/>
    <meta-data android:name="android.support.VERSION" android:value="25.3.1"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <application android:label="@string/app_name" android:icon="@drawable/icon" android:name="android.support.multidex.MultiDexApplication" android:debuggable="false" android:hardwareAccelerated="true" android:supportsRtl="true" android:resizeableActivity="false">
        <activity android:theme="@style/Theme.AppCompat.NoActionBar.Fullscreen" android:name="com.rovio.fusion.App" android:launchMode="singleTask" android:screenOrientation="landscape" android:configChanges="screenSize|orientation|navigation|keyboardHidden|keyboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data android:name="com.sec.android.airview.enable" android:value="true"/>
            <intent-filter>
                <action android:name="com.sec.android.airview.HOVER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="com.rovio.angrybirds-8.0.3"/>
                <data android:scheme="com.rovio.angrybirds"/>
                <data android:scheme="fb771488262881983"/>
            </intent-filter>
        </activity>
        <meta-data android:name="buildNumber" android:value="1554989171"/>
        <activity android:name="com.facebook.ads.AudienceNetworkActivity" android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity android:name="net.hockeyapp.android.UpdateActivity"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:name="com.vungle.publisher.VideoFullScreenAdActivity" android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden"/>
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" android:name="com.vungle.publisher.MraidFullScreenAdActivity" android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden"/>
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" android:name="com.vungle.publisher.FlexViewAdActivity" android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden"/>
        <activity android:name="com.adcolony.sdk.AdColonyInterstitialActivity" android:configChanges="screenSize|orientation|keyboardHidden" android:hardwareAccelerated="true"/>
        <activity android:name="com.adcolony.sdk.AdColonyAdViewActivity" android:configChanges="screenSize|orientation|keyboardHidden" android:hardwareAccelerated="true"/>
        <receiver android:name="com.rovio.rcs.InstallReferrerReceiver" android:permission="android.permission.INSTALL_PACKAGES" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <meta-data android:name="com.google.android.gms.games.APP_ID" android:value="@string/app_id"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <receiver android:name="com.rovio.fusion.LocalNotificationsWrapper"/>
        <service android:name="com.rovio.fusion.RovioFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <activity android:theme="@style/Theme.AppCompat.NoActionBar" android:name="com.rovio.fusion.VideoPlayerActivity" android:screenOrientation="landscape" android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:name="com.unity3d.ads.adunit.AdUnitActivity" android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc" android:hardwareAccelerated="true"/>
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" android:name="com.unity3d.ads.adunit.AdUnitTransparentActivity" android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc" android:hardwareAccelerated="true"/>
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" android:name="com.unity3d.ads.adunit.AdUnitTransparentSoftwareActivity" android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc" android:hardwareAccelerated="false"/>
        <activity android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:name="com.unity3d.ads.adunit.AdUnitSoftwareActivity" android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc" android:hardwareAccelerated="false"/>
        <activity android:name="net.hockeyapp.android.FeedbackActivity" android:windowSoftInputMode="adjustResize|stateVisible"/>
        <activity android:name="net.hockeyapp.android.PaintActivity"/>
        <activity android:name="net.hockeyapp.android.LoginActivity"/>
        <activity android:name="net.hockeyapp.android.ExpiryInfoActivity"/>
        <activity android:theme="@style/com_facebook_activity_theme" android:name="com.facebook.FacebookActivity" android:configChanges="screenSize|screenLayout|orientation|keyboardHidden|keyboard"/>
        <activity android:name="com.facebook.CustomTabMainActivity"/>
        <provider android:name="com.facebook.internal.FacebookInitProvider" android:exported="false" android:authorities="com.rovio.angrybirds.FacebookInitProvider"/>
        <receiver android:name="com.facebook.CurrentAccessTokenExpirationBroadcastReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.facebook.sdk.ACTION_CURRENT_ACCESS_TOKEN_CHANGED"/>
            </intent-filter>
        </receiver>
        <service android:name="com.google.firebase.messaging.FirebaseMessagingService" android:exported="true">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name="com.google.firebase.components.ComponentDiscoveryService" android:exported="false">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.iid.Registrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <receiver android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND" android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <service android:name="com.google.firebase.iid.FirebaseInstanceIdService" android:exported="true">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:exported="false"/>
        <provider android:name="com.google.firebase.provider.FirebaseInitProvider" android:exported="false" android:authorities="com.rovio.angrybirds.firebaseinitprovider" android:initOrder="100"/>
    </application>
</manifest>
